body
{
  background-color: #A6ACAF !important;

}

.menu
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:2rem;
 
}
.menu-border
{
  border: 0.1rem solid #fada5e;
  width: 7%;
}

.menu-btn
{
  color : #fada5e !important;
  background-color: #A6ACAF !important;
  border-style :none !important;
  outline:none !important;
  font-weight: bold;
}

.menu-btn.first
{
  border: 1px solid #008b8b !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
